<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ticket html gg</title>
</head>
<body>
<!-- <p th:text="${listaTickets}"/> -->

<ul th:each="ticket : ${listaTickets}">
	<li th:text="'Fecha emision: ' +  ${ticket.fechaEmision} + 'Cliente: ' + ${ticket.cliente.nombre} + 'Total: ' + ${ticket.total}"></li>
	<li>
		<ul th:each="productoTicket : ${ticket.productos}">
			<li th:text="'Produto: ' + ${productoTicket.producto.nombre} "></li>
		</ul>
	</li>
</ul>




</body>
</html>