<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ventas</title>
</head>
<body>
<h2> Agregar nueva venta</h2>
<form>
	<label for="nvo-nombre">Nombre</label>
	<input name="nvo-nombre" id="nvo-nombre">
	<label for="nvo-cantidad">Cantidad</label>
	<input name="nvo-cantidad" id="nvo-cantidad" type="number">
	<label for="nvo-monto">Monto</label>
	<input type="number" name="nvo-monto" id="nvo-monto">
	<button id="btn-agregar">Agregar</button>
</form>

<h2>Lista de ventas</h2>
<div id="editar"></div>
<div id="contenido"></div>

<script src="../scripts/ventas.js"></script>
</body>
</html>